<template>
    <v-app>
        <v-container fill-height>
            <Menu>
                <v-content slot="Content">
                    <v-flex xs12 class="text-xs-left">
                        <v-btn dark class="white--text" round :to="{ name: 'home'}" small>
                            <v-icon>chevron_left</v-icon>
                            Atras
                        </v-btn>
                    </v-flex>
                    <v-layout align-center justify-center row fill-height>
                        <v-flex xs12 sm12 md12 lg11>
                            <v-card class="elevation-14">
                                <v-container fluid grid-list-md>
                                    <v-layout row wrap>
                                        <v-flex v-for="dato in datos" xs12 sm12 md6 lg4 xl3 :key="dato.id">
                                            <!-- <v-card color="blue-grey lighten-4"> -->
                                            <v-card dark>
                                                <v-container fill-height fluid pa-2>
                                                    <v-layout fill-height>
                                                        <v-flex xs12 align-end flexbox>
                                                            <span class="headline white--text" v-text="dato.title"></span>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-container>
                                                <v-card-actions>
                                                    <v-spacer></v-spacer>
                                                    <v-btn round :to="{ name: 'article', params: { id: dato.id }}" small color="grey darken-2" prepend-icon="person">
                                                        Leer mas
                                                        <v-icon>chevron_right</v-icon>
                                                    </v-btn>
                                                </v-card-actions>
                                            </v-card>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-content>
            </Menu>
        </v-container>
    </v-app>
</template>

<script>
import Menu from '@/components/Menu.vue'
import axios from 'axios'
export default {
    name: 'Channel',
    components: {
        Menu
    },
    data (){
        return {
            datos: [],
            titulos: []
        }
    },
    created(){
        if(!sessionStorage.getItem('login')){
        this.$router.replace({ name: 'login' })
        }
    },
    mounted(){
        const tk = sessionStorage.getItem('tk')
        const peticion = axios.create({
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `JWT ${tk}`
            }
        })

        const id = this.$route.params.id

        peticion.get(`/api/channels/${id}/`)
        .then(response => {
            response.data.articles.forEach(element => {

                const id_Article = element.split("/")[5]
                peticion.get(`/api/articles/${id_Article}/`)
                .then(response => {
                    response.data.id = id_Article
                    this.datos.push(response.data)
                })
                .catch(error => {
                    console.log(error)
                })
            });

        })
        .catch(error => {
            console.log(error)
        })

    }
}
</script>

<style>
</style>
