<template>
    <v-app>
        <v-container fill-height>
            <Menu>
                <v-content slot="Content">
                    <v-layout align-center justify-center row fill-height>
                        <v-flex xs12 sm12 md12 lg11>
                            <v-card class="elevation-14">
                                <v-container fluid grid-list-md>
                                    <v-layout row wrap>
                                        <v-flex v-for="dato in datos" xs12 sm12 md6 lg6 xl3 :key="dato.id">
                                            <v-card dark>
                                                <v-container fill-height fluid pa-2>
                                                    <v-layout fill-height>
                                                        <v-flex xs12 flexbox>
                                                            <span class="headline" v-text="dato.title || dato.link"></span>
                                                            <!-- <div v-text="canal.channel"></div> -->
                                                        </v-flex>
                                                    </v-layout>
                                                </v-container>
                                                <v-card-actions>
                                                    <v-spacer></v-spacer>

                                                    <v-btn small @click="subscribirse(dato.url)" color="blue-grey lighten-5" outline flat dark prepend-icon="person">
                                                        Subscribirse
                                                        <v-icon>bookmark</v-icon>
                                                    </v-btn>
                                                </v-card-actions>
                                            </v-card>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-content>
            </Menu>
        </v-container>
    </v-app>
</template>

<script>
import axios from 'axios'
import Menu from '@/components/Menu.vue'

export default {
    name: 'Explore',
    components: {
        Menu
    },
    data(){
        return {
            datos: []
        }
    },
    methods: {
        subscribirse(url_channel){
            const tk = sessionStorage.getItem('tk')
            const peticion = axios.create({
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `JWT ${tk}`
                    }
            })
            console.log(url_channel)
            peticion.post('/api/subscriptions/', {
                channel: url_channel
            })
            .then(() => {
                location.reload(true)
            })
            .catch(error => {
                console.log(error)
            })

        }
    },
    mounted(){
        const tk = sessionStorage.getItem('tk')
        const peticion = axios.create({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `JWT ${tk}`
                }
        })

        peticion.get('/api/channels/')
        .then(responseChannels => {
            const channels = responseChannels.data
            peticion.get('/api/subscriptions/')
            .then(response => {
                for (let index = 0; index < channels.length; index++) {
                    for (let j = 0; j < response.data.length; j++) {
                        if(channels[index].url === response.data[j].channel){
                            channels.splice(index, 1)
                            index = 0
                        }
                    }
                }
                this.datos = channels
                console.log(this.datos)
            })
            .catch(error => {
                console.log(error)
            })
        })
        .catch(error => {
            console.log(error)
        })
    }

}
</script>

<style>
</style>
