<template>
  <v-app>
    <v-container fill-height>
      <Menu>
        <v-content slot="Content">
          <template v-if="init">
            <v-flex>
              <v-icon size="400" color="blue">rss_feed</v-icon>
            </v-flex>
            <v-layout align-center justify-center>
              <v-flex xs4>
                <v-alert outline :value="true" type="info">
                  No hay canales agregados aun, agrega uno
                </v-alert>
                <ButtonCrChannel />
              </v-flex>
            </v-layout>
          </template>
          <template v-else>
            <Suscripciones :canales="canales" />
          </template>
        </v-content>
      </Menu>
    </v-container>
  </v-app>
</template>

<script>
// @ is an alias to /src
import Menu from '@/components/Menu.vue'
import Suscripciones from '@/components/Suscripciones.vue'
import ButtonCrChannel from '@/components/ButtonCrChannel.vue'
import axios from 'axios'

export default {
  name: 'home',
  components: {
    Menu,
    Suscripciones,
    ButtonCrChannel
  },
  data(){
    return {
      canales: [],
      init: true
    }
  },
  created(){
          if(!sessionStorage.getItem('login')){
        this.$router.replace({ name: 'login' })
      }else{
        const tk = sessionStorage.getItem('tk');
        const subscripciones = axios.create({
    headers: {
      'Content-Type': 'application/json',
      'Authorization': `JWT ${tk}`
    }
  })
  subscripciones.get('/api/subscriptions/')
  .then(response => {
    if (response.data.length > 0) {
      this.init = false
      this.canales = response.data
      // console.log(this.canales)
    }
  })
  .catch(error => {
    let message = 'No se pudieron traer los datos: \n'
    Object.values(error.response.data).forEach(messages => {
      if(messages === 'Signature has expired.'){
      sessionStorage.clear();
      this.$router.replace({ name: 'login' })
      }
      message += `${messages}\n`
    })
    console.log(message)
  })
      }

  },
  mounted(){
  }
}

</script>
