<template>
  <v-app>
    <v-container fluid grid-list-xl>
      <v-layout row justify-center align-center fill-height>
        <v-flex xs12 md6 lg5 xl4>
          <v-card class="elevation-12">
            <v-toolbar dark color="blue accent-4">
              <v-toolbar-title>Feednote it - Inicio de sesión</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
              <v-form ref="form" v-model="valid">
                <v-text-field prepend-icon="person" label="Usuario" v-model="username" :rules="userRules" :counter="50" type="text">
                </v-text-field>

                <v-text-field id="password" prepend-icon="lock" label="Contraseña" v-model="password" :rules="passwordRules" type="password">
                </v-text-field>

              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn dark flat to="register" color="teal accent-4">
                Registrarse
              </v-btn>
              <v-btn dark flat @click.prevent="login" color="blue accent-4">
                Entrar
              </v-btn>
            </v-card-actions>
          </v-card>
          <v-alert ref="alert" v-model="alert" dismissible type="error">
            {{message}}
          </v-alert>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Login',
  data () {
    return {
      alert: false,
      message: '',
      valid: true,
      username: '',
      userRules: [
        v => !!v || 'El usuario es requerido',
        v => v.length <= 50 || 'El usuario debe ser de almenos 20 caracteres'
      ],
      password: '',
      passwordRules: [
        v => !!v || 'La contraseña es requerida',
        v => v.length <= 30 || 'La contraseña puede ser maximo de 30 caracteres'
      ]
    }
  },
  methods: {
    login () {
      if (this.$refs.form.validate()) {
        const logueo = axios.create({
          headers: {
             'Content-Type': 'application/json',
             }
        })

        logueo
          .post('/api/auth/jwt/create/', {
            username: this.username,
            password: this.password
          })
          .then(response => {
            if (response.hasOwnProperty('data')) {
              const { token : tk } = response.data
              if (tk != null) {
                sessionStorage.setItem('tk', tk)
                sessionStorage.setItem('login', true)
                this.$router.replace({ name: 'home'})
              } else {
                  this.alert = true
                  this.message = 'No hay token'
                  console.log(response.data)
              }
            }
          })
          .catch(error => {
            this.alert = true
            this.message = 'No se pudo iniciar sesión: \n'
            Object.values(error.response.data).forEach(messages => {
              this.message += `${messages}\n`
            })
            console.log(this.message)
          })
      }
    }
  }
}
</script>

<style>
</style>
