<template>
    <v-layout justify-center align-center>
        <v-navigation-drawer dark persistent :mini-variant="miniVariant" :clipped="clipped" v-model="drawer" enable-resize-watcher fixed app>
            <v-list>
                <template v-for="(item, i) in items">
                    <!-- <v-list-tile value="true" v-if="item.action" :key="item.title" @click="1"> -->
                    <template v-if="item.title=='Cerrar Sesión'">
                        <v-list-tile :key="item.title" @click="logout">
                            <v-list-tile-action>
                                <v-icon v-html="item.icon"></v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title v-text="item.title"></v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </template>
                    <template v-else>
                        <v-list-tile :key="item.title" :to="item.link">
                            <v-list-tile-action>
                                <v-icon v-html="item.icon"></v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title v-text="item.title"></v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </template>
                    <v-divider v-if="item.divider" :key="i"></v-divider>
                </template>
            </v-list>

        </v-navigation-drawer>

        <v-toolbar app :clipped-left="clipped" dark color="light-blue darken-1">
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title class="title" v-text="title"></v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar>
        <slot name="Content"></slot>
    </v-layout>
</template>

<script>
export default {
    name: 'Menu',
    data (){
        return {
            clipped: true,
            miniVariant: false,
            drawer: false,
            fixed: false,
            title: 'Feednote It',
            items: [
                {
                    // muestra canales y al seleccionar un canal se muestran los articulos
                    icon: 'satellite',
                    title: 'Subscripciones',
                    link: '/',
                    divider: true
                },
                {
                    icon: 'navigation',
                    title: 'Explorar',
                    link: 'explore',
                    divider: true
                },
                // {
                    //     icon: 'insert_link',
                //     title: 'Enlaces Compartidos',
                //     link: 'canales',
                //     divider: true
                // },
                // {
                    //     icon: 'settings',
                //     title: 'Configuración',
                //     link: 'canales'
                // },
                {
                    icon: 'input',
                    title: 'Cerrar Sesión',
                    divider: true
                }
            ],
        }
    },
    methods: {
        logout(){
            // this.$store.commit('logout')
            sessionStorage.clear()
            this.$router.replace({ name: 'login'})
        }
    }
}
</script>

<style>
</style>
