<template>
    <v-layout align-center justify-center row fill-height>
        <v-flex xs12 sm12 md12 lg11>
            <v-card class="elevation-14">
                <v-container fluid grid-list-md>
                    <v-layout row wrap>
                        <v-flex v-for="dato in datos" xs12 sm12 md6 lg6 xl3 :key="dato.id">
                            <v-card dark>
                                <v-container fill-height fluid pa-2>
                                    <v-layout fill-height>
                                        <v-flex xs12 flexbox>
                                            <span class="headline" v-text="dato.title || dato.link"></span>
                                            <!-- <div v-text="canal.channel"></div> -->
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                                <v-card-actions>
                                    <v-btn small @click="desuscribirse(dato.id_subscription)" color="blue-grey lighten-5" outline flat dark prepend-icon="person">
                                        Desuscribirse
                                        <v-icon>remove_circle_outlinet</v-icon>
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn :to="{ name: 'channel', params: { id: dato.id }}" small color="blue-grey lighten-5" outline flat dark prepend-icon="person">
                                        Ver articulos
                                        <v-icon>chevron_right</v-icon>
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <ButtonCrChannel/>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
import Menu from '@/components/Menu.vue'
import ButtonCrChannel from '@/components/ButtonCrChannel.vue'
import axios from 'axios'

export default {
    name: 'Suscripciones',
    components: {
        Menu,
        ButtonCrChannel
    },
    props: {
        canales: Array
    },
    data(){
        return {
            datos: []
        }
    },
    methods: {
        desuscribirse(id){
            const tk = sessionStorage.getItem('tk')
            const peticion = axios.create({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `JWT ${tk}`
                }
            })

            peticion.delete(`/api/subscriptions/${id}/`)
            .then(() => {
                // this.$router.replace({name: 'home'})
                location.reload(true)
            })
            .catch(error => {
                console.log(error)
            })
        }
    },
    mounted(){
        const tk = sessionStorage.getItem('tk')
        const peticion = axios.create({
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `JWT ${tk}`
            }
        })

        this.canales.forEach(canal => {
            const id_Channel = canal.channel.split("/")[5]
            peticion.get(`/api/channels/${id_Channel}/`)
            .then(response => {
                response.data.id_subscription = `${canal.id}`
                this.datos.push(response.data)
            })
            .catch(error => {
                console.log(error)
            })
        })
    }

}
</script>

<style>
</style>
